<h1>Nuevo Héroe <small></small></h1>

<div fxLayout="row" fxLayoutGap="40px">
  <div fxFlex="50" fxLayout="column">

    <div fxLayout="rol" fxLayoutGap="20px">

      <mat-form-field>
        <mat-label>Super Héroe</mat-label>
        <input matInput
              type="text"
              required />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Alter Ego</mat-label>
        <input matInput
              type="text"
              required />
      </mat-form-field>

    </div>

    <mat-form-field>
      <mat-label>Primera Aparición</mat-label>
      <input matInput
             type="text"
             required />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Creador</mat-label>
      <mat-select>
        <mat-option *ngFor="let publisher of publishers" 
                    [value]="publisher.id">

            
        </mat-option>
      </mat-select>
    </mat-form-field>


  </div>

  <div fxFlex="50">
    2
  </div>

</div>
